/* scroll bar style */
.scrollbar-custom {
      scrollbar-width: thin; /* For Firefox */
      /* scrollbar-color: #000 #888; */
      scrollbar-color: #2f5385 #75a4e7;
    }
  
    .scrollbar-custom::-webkit-scrollbar {
      width: 10px;
    }
  
    .scrollbar-custom::-webkit-scrollbar-track {
      background: #888;
      border-radius: 5px;
    }
  
    .scrollbar-custom::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 5px;
    }
  
    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
/* end */
