@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BioRhyme:wght@200..800&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Iceland&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Yellowtail&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* .iceland-regular {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
    background: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

header{
    width: 100%;
    height: 5rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #102542;
}

header h1{
    font-size: 3rem;
    font-family: "Iceland", sans-serif;
    color: #102542;
}


button{
    cursor: pointer;
}

a{
    position: relative;
    text-decoration: none;
}

main{
    width: 100%;
    height: calc(100vh - 5rem - 5rem);
    display: flex;
    align-items: center;
}

main .box{
    width: 100%;
    height: calc(100vh - 5rem - 5rem);
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

main .left, main .right{
    width: 50%;
    border-radius: 20px;
    height: 100vh;
}

main .left{
    background: #80f7bd;
    padding: 0.75rem 2rem;
}

.left h2{
    font-size: 2.2rem;
    font-family: "Iceland", sans-serif;
    margin: 1rem 0
}

.left ul{
    font-size: 1.1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


main .right{
    background: #80f7bd;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    overflow: hidden;
}

#rightHead{
    background: #74d7a8;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

#rightHead div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
}

#rightHead div i{
    font-size: 1.2rem;
    color: #fff;
}

#rightHead div i:nth-child(2){
    color: #80f7bd;
}

#rightHead div i:nth-child(3){
    color: #102542;
}

#rightHead button{
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 20px;
    color: #fff;
    font-family: "Iceland", sans-serif;
    font-size: 1.4rem;
    background: #102542;
    border: none;
    transition: 0.5s;
}

#runBtn:hover{
    transform: scale(1.05);
}
#rightHead button i{
    font-size: 1rem;
}

main .right textarea{
    width: calc(100% - 2rem);
    height: 110vh;
    font-size: 1.1rem;
    line-height: 1.5rem;
    border: none;
    outline: none;
    margin: 1rem;
    resize: none;
    background: #80f7bd;
}

main .right .output{
    width: 100%;
    height: 30rem;
    background: black;
    color: white;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.output .head{
    width: 100%;
    height: 3rem;
    background: #222222;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-weight: 500;
}

.output .head i{
    padding-right: 2rem;
}

#showOutput{
    width: 100%;
    height: calc(100% - 3rem);
    padding: 1rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3rem;
}

footer{
    position: relative;
    width: 100%;
    height: 5rem;
    border-top: 1px solid #102542;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10;
}

footer .left, footer .right{
    display: flex;
    gap: 1rem;
    width: 18rem;
}

footer .left{
    width: 6rem;
}

footer .mid{
    width: calc(100% - 26rem);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageNo{
    padding: 0.5rem 1rem;
    border: 3px solid #102542;
    width: 10rem;
    text-align: center;
    border-radius: 4rem;
    color: #102542;
}

#pageNo p{
    font-family: "Iceland", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
}

footer .left button, footer .right button{
    padding: 0.75rem 1rem;
    border-radius: 3rem;
    border: none;
    width: 6rem;
    background: #102542;
    transition: 0.3s;
}

.left button i, .right button i{
    font-size: 1.5rem;
    color: #fff;
}

footer .left button:hover, footer .right button:hover{
    transform: scale(1.1);
}